/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 */
@import "bourbon";
@import "neat";

.container {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
  font-size: 62.5%;
	border-top: 3px solid #b59575;
  background-color: rgba(250, 248, 214, 1);
  font-family: Verdana;
  color: rgba(50, 55, 83, 1);
}
.tablelable {
  color: rgba(141, 29, 34, 1);
  text-transform: uppercase;
  font-size: .9em;
}
.tableright {
  text-align: right;
  color: rgba(12, 103, 119, 1);
  padding: 20px;
}
.footer {
  height: 100px;
  background-color: rgba(100, 105, 61, 1);
}
.bar {
  background-color: rgba(166, 98, 93, 1);
  font-size: 1.2em;
}
.bar li {
  color: rgba(12, 103, 119, 1);
}
